# Database Credentials & Connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=agrisim
POSTGRES_SERVER=localhost

# Redis Broker
REDIS_URL=redis://localhost:6379/0

# External APIs
ECCC_BASE_URL=https://api.weather.gc.ca/collections/swob-realtime/items