# Database Credentials & Connection
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_SERVER=db
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/agrisim

# Redis Broker
REDIS_URL=redis://redis:6379/0

# External APIs
ECCC_BASE_URL=https://api.weather.gc.ca/collections/swob-realtime/items